In [2]:
import pandas as pd;

In [4]:
l=[12,23,34]
x=pd.Series(l)
print(x)

0    12
1    23
2    34
dtype: int64

In [6]:
date_series = pd.date_range(start = '05-01-2021', end = '05-12-2021')
print(date_series)

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [8]:
d = {'name': ['Vinay', 'Kushal', 'Aman'],'age' : [22, 25, 24],'job' : ['engineer', 'doctor', 'accountant']}
df = pd.DataFrame(d)
print(df)

   age         job    name
0   22    engineer   Vinay
1   25      doctor  Kushal
2   24  accountant    Aman

In [9]:
lists = [[2, 'Vishnu', 22],
         [1, 'Kushi', 25],
         [1, 'Amal', 24]]
dataframe = pd.DataFrame(lists, columns = ['id', 'name', 'age'])
print(dataframe)

   id    name  age
0   2  Vishnu   22
1   1   Kushi   25
2   1    Amal   24

In [11]:
data= pd.read_csv('data2.csv')
print(data)

   id   name
0   1   hhhh
1   2   kkkk
2   3  lllll

In [14]:
print(dataframe) 
print()
data_sorted = dataframe.sort_values(by = ['name']) 
print(data_sorted)

   id    name  age
0   2  Vishnu   22
1   1   Kushi   25
2   1    Amal   24

   id    name  age
2   1    Amal   24
1   1   Kushi   25
0   2  Vishnu   22